{{!< default}}
<paper-scroll-header-panel class="flex">
  <paper-toolbar class="tall">
    <paper-icon-button icon="menu"></paper-icon-button>
    <div class="middle">{{@blog.title}}</div>
    <div class="bottom">{{@blog.description}}</div>
  </paper-toolbar>
</paper-scroll-header-panel>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reiciendis reprehenderit omnis cumque velit molestiae, quidem doloremque. Voluptatum, dignissimos accusamus iure architecto praesentium cupiditate hic explicabo quam, odio qui eum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat et accusamus mollitia eaque amet harum quo, corporis, earum itaque explicabo quasi eligendi quae voluptatum voluptatibus voluptate quaerat ad, quas ipsam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit, voluptatibus quam sint quas eaque fugit numquam soluta odio unde, neque dolor perferendis quod ratione illum natus maxime aut deleniti?</p>
<p><blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</blockquote></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus incidunt ullam, dolor, aliquam quidem voluptatem asperiores, quisquam dolorum consectetur repudiandae saepe quo maiores ad debitis perspiciatis, odit modi expedita. Consequuntur.</p>